body{

    
    font-style: oblique;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
img{
    height: 100%;
    width: 100%;

}

a.navname{
     
    font-size:x-large;   
}
.navitem{
    font-size:larger;
    color: rgb(255, 255, 255)!important;
}
/*--------------------1ST CONTENT-----------------------------------*/
 
#content{

    font-size: 1.5em;
     
}
#contentchild{
    font-size: 1.5em;
  
    
}
/*--------------------2ST CONTENT-----------------------------------*/
p#sec-content{
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 0.5cm;
}
p#sec-content-two{
    font-style:oblique;
    font-size: 1em; 
}
/*--------------------3ST CONTENT-----------------------------------*/
p#third-content-pro{
    font-size: 1.5em;
    font-weight: 500;
}
p#third-content-dol{
    font-weight: 300; 
}
p#third-content-con{
    font-size: 1em;
}
p#third-content-button{
    width: 2cm;
}
/*-------------------- ABOUT AND CONTACT-----------------------------------*/
p#about{
    font-size: 1.5em;
    font-weight: 500;
}
p#about-head{
    font-size: 1em;
}


/*--------------------unordered list---------------------------------*/
ul{
    list-style-type:none ;
}

/*--------------------slick side-------------------------------------*/
.items {
    width: 90%;
    margin: 0px auto;
    height:50%;
     
}

.slick-slide {
    margin: 10px;
}


.slick-slide img {
    width: 100%;
     
}

/*------------------form inputs for feedback-----------------------*/
.form-input .input-items {
    position: relative;
}

#info{
    line-height: 35px;
    
}
#about-color{
    color: black;
}


/* Make the image fully responsive */
.carousel-inner img {
    position: relative;
    width: 100%;
    height:100%;
    overflow: hidden;
  
}
.error{
    color:red;
}